{% extends "volleying/Page.html" %}
{% load checkboxfilter %}
{% load otree static %}
{% load static %}

{% block content %} 


<p> Take a few minutes to chat with your partner and choose a movie trailer to watch together from the list provided. </p>

{% if player.role == "player1" %}
<p> <b> Remember: </b> </p>
<p> Try to go back and forth with your partner <b> 
{% if player.group.volleyLots %} 
as much
{% else %}
as little 
{% endif %} as possible
</b> before arriving at a decision. </p> 
<p> Once you and your partner have decided on a movie trailer, please select the movie trailer that you both chose. Then, hit the next button to watch that trailer together! </p>
{% else %}
<p>Once you and your partner have decided on a movie trailer, your partner will select the movie trailer that you both chose. After they choose, hit the next button to watch that trailer together!</p> 
{% endif %}
<h5> Which movie trailer would you and your partner like to watch together? </h5>

<div class="trailers"> 
<div class="trailerColumn">  
  {% for form in movie_formset %}
    {% for field in form %}
        {% if field.field.widget|is_checkbox and player.role == "player1" %}
            {{ field }} {{ field.label }}
        {% elif field.field.widget|is_checkbox and player.role == "player2" %}
            {{ field.label }}
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
  <br>
  {% endfor %}
</div>

<div class="trailerColumn">
    {% chat nickname=player.first_name channel=player.group.chat %}
</div>
</div>

{% next_button %}

<!-- disable multiple checkbox selection -->
<script>
  var inputs = document.getElementsByTagName("input"), checkboxes = [];

  for(var i = 0; i < inputs.length; i++) {
    if(inputs[i].type == "checkbox") {
        checkboxes.push(inputs[i]) 
    }  
}

  console.log(checkboxes);
  function handleCheck() {
    if (this.checked) {
      disableOthers(this);
    }
    else {
      enableAll();
    }
  }
  function disableOthers(chosenBox) {
    checkboxes.forEach(function(checkbox) {
      if (checkbox != chosenBox) {
        checkbox.disabled = true;
      }
    })
  }
  function enableAll() {
    checkboxes.forEach(function(checkbox) {
        checkbox.disabled = false;
    }) 
  }
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', handleCheck);
  })
</script>

{% endblock %}


